/* HEADER */
/* HEADER */
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    position: sticky;
    display: flex;
    align-items: center;
    background-color:darkred;
    height: 10vh;
    box-shadow: 2px 2px 10px grey ;
}
.nav-list{
    display: flex;
    align-items: center;
    
    padding:10vh 10vh;

    
}

.nav-list li{
    list-style: none;
    padding: 2vh 0vw;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    text-align: center;
    font-size: 1.1rem;   
}
.nav-list li a{
 padding:5px 20px;
 text-decoration: none;
 color: rgb(255, 247, 247);
}

.head{
display: flex;
white-space: nowrap;
text-align: center;
align-items: flex-end;

margin-left:7vw;
padding:35px 10;
}
.head a img{
    border-radius: 10px;
}

.head a{
    
    text-decoration: none;
    color: white;
}
.calbuttonpos a{
    text-decoration: none;
    color: white;
}
.calbuttonpos button{
    background-color: rgb(43, 40, 40);
    border:  2px solid white;
    color: white;
    padding:10px 100px;
    border-radius: 10%;
    
}
.nav-list li :hover{
transition: background-color .6s ease-in-out;
background-color:rgb(241, 241, 10);
border-radius: 20px;
color: red;


}
.logo{
    width: 150px;
    height: 50px;
}
.logoimg{
    display: flex;
    width: 25%;
    margin-left:10vw;
}
.search{
    white-space: nowrap;
    text-align: center;
    margin-left: 3vw;
}
.imgad{
    width: 40px;
    height: 40px;
}
.slogo{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
#searchbar{
padding:5px 5px;
border-radius: 20px;
font-size: 14px;
}
.buttonstyle{
    background-color:darkred;
    color: white;
    padding:3px 3px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
.background{
    height: 100vh;
    width: 100vw;
    
}
.navbar::before {
    content:"";
    position: absolute;
    top: 0px;
    /*background: url(bg.png) no-repeat center center/cover;*/
    width: 100%;
    z-index: -1;
    opacity: 1;
    height: 100vh;  

}

/* TERMS & CONDITIONS */
#terms_conditions{
    margin-top:100px;
    margin-bottom:80px;}
    .Large{
        font-size:2.3em;
        text-align: center;
        font-weight:bolder;
    
        }
        hr{
            margin-right:auto;
            margin-left:auto;
            margin-bottom:50px; 
            /* margin:auto; */
            text-align:center;
        }
        #terms_conditions>div{
            margin-top:50px;
            margin-right:100px;
            margin-left:100px;
        }
                .big{
                    margin-top:5px;
                    font-weight: bolder;
                    font-size: 1.5em;
                }
                .short{
               
                    font-size:1em;
                    margin-top:10px;
                   
                }


 /* FOOTER        */
 #footer{
    
    bottom:0;
    left:0;
    right:0;
    border:1px solid black;
    background-color:darkred;
    color:white;
    margin-top:100px;
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    
  }
  
  
  .first{
    padding:30px 0px;
   text-align: center;
    width: 30%;
    
    
  }
  
  .links li{
    list-style:none;
    padding-top:5px;
    justify-content: center;
    
  }
  .links li a
  { 
  
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .links li a:hover{
    color:grey;
  }
  .vl{
    border-right:1px solid yellow;
    margin:20px 0px;
   
  }
